openapi: 3.0.3
info:
  title: Descope Apps Mgmt API
  description: Descope API
  contact:
    name: Descope
    url: https://descope.com
    email: support@descope.com
  version: 0.0.1
servers:
- url: https://api.descope.com
  description: Descope Production
- url: '{customUrl}'
  description: Custom server URL
  variables:
    customUrl:
      default: https://api.descope.com
      description: Your Descope API base URL
security:
- Descope Project ID: []
  Descope Project ID:Refresh JWT: []
  Descope Project ID:Session JWT: []
  Descope Project ID and Management Key: []
  Descope Project ID:Access Key: []
tags:
- name: Mgmt
paths:
  /v1/mgmt/inboundapp/app/{projectId}/register:
    post:
      tags:
      - Mgmt
      description: Register Third Party Application according to RFC 7591
      operationId: RegisterThirdPartyApplication
      parameters:
      - name: projectId
        in: path
        description: Auto fill by proto from the requested URL
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/managementv1.RegisterThirdPartyApplicationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managementv1.RegisterThirdPartyApplicationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Register Third Party Application according to RFC 7591
        keywords: api, third party apps
  /v1/mgmt/mcp/client/{projectId}/{mcpServerId}/register:
    post:
      tags:
      - Mgmt
      description: Register MCP Server client according to RFC 7591
      operationId: RegisterMcpServerClient
      parameters:
      - name: projectId
        in: path
        description: Auto fill by proto from the requested URL
        required: true
        schema:
          type: string
      - name: mcpServerId
        in: path
        description: Auto fill by proto from the requested URL (only in agentic hub)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/managementv1.RegisterThirdPartyApplicationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managementv1.RegisterThirdPartyApplicationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Register MCP Server client according to RFC 7591
        keywords: api, third party apps
  /v1/mgmt/accesskey:
    get:
      tags:
      - Mgmt
      summary: Load An Access Key
      description: '### Load an access key, using a valid management key.


        This API endpoint allows administrators to load the details of an existing access key.


        The response contains details of the access key including associated roles and tenants as well as details of the key''s creation, status, and expiration.


        ### Next Steps


        Once you have this data, you can utilize the response to [Update an access key](/api/management/access-keys/update-access-key), [Activate an access key](/api/management/access-keys/activate-access-key), [Deactivate an access key](/api/management/access-keys/deactivate-access-key), or [Delete an access key](/api/management/access-keys/delete-access-key).


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: LoadAccessKey
      parameters:
      - name: id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeyResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 1
      x-meta:
        title: Load An Access Key | Access Key Management
        description: Load an access key, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/import:
    post:
      tags:
      - Mgmt
      summary: Import Access Key
      description: Import an access key by providing its plaintext value, using a valid management key.
      operationId: ImportAccessKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportAccessKeysRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportAccessKeysResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 2
      x-meta:
        title: Import Access Key | Access Key Management
        description: Import an access key by providing its plaintext value, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/search:
    post:
      tags:
      - Mgmt
      summary: Search Access Keys
      description: '### Search access keys, using a valid management key.


        This API endpoint allows administrators to search for details of existing access keys for a given array of tenants.


        The response contains an array of details for the access keys returned by the search including associated roles and tenants as well as details of the key''s creation, status, and expiration.


        ### Next Steps


        Once you have this data, you can utilize the response to [Update an access key](/api/management/access-keys/update-access-key), [Activate an access key](/api/management/access-keys/activate-access-key), [Deactivate an access key](/api/management/access-keys/deactivate-access-key), or [Delete an access key](/api/management/access-keys/delete-access-key).


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: SearchAccessKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAccessKeysRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeysResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 2
      x-meta:
        title: Search Access Keys | Access Key Management
        description: Search access keys, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/create:
    post:
      tags:
      - Mgmt
      summary: Create Access Key
      description: '### Create an access key, using a valid management key.


        This API endpoint allows administrators to create an access key.


        During the creation of the access key, you can set the name, expiration time, roles and tenant:role pairs to associated with the key.


        ### Next Steps


        Once you have the access key, you can utilize it to configure external items such as [SCIM](/api/scimmanagement/), or use it to [exchange for a JWT](/api/access-keys/exchange-key).


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: CreateAccessKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 3
      x-meta:
        title: Create Access Key | Access Key Management
        description: Create an access key, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/update:
    post:
      tags:
      - Mgmt
      summary: Update Access Key
      description: '### Update an existing access key, using a valid management key.


        This API endpoint allows administrators to update an existing access key. With this endpoint, you can only update the access key''s name.


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: UpdateAccessKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccessKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeyResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 4
      x-meta:
        title: Update Access Key | Access Key Management
        description: Update an existing access key, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/activate:
    post:
      tags:
      - Mgmt
      summary: Activate Access Key
      description: '### Activate an existing access key, using a valid management key.


        This API endpoint allows administrators to activate an existing access key.


        ### Next Steps


        Once you have reactivated the access key, you can utilize it to configure external items such as [SCIM](/api/scimmanagement/), or use it to [exchange for a JWT](/api/access-keys/exchange-key).


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: ActivateAccessKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 5
      x-meta:
        title: Activate Access Key | Access Key Management
        description: Activate an existing access key, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/deactivate:
    post:
      tags:
      - Mgmt
      summary: Deactivate Access Key
      description: '### Deactivate an existing access key, using a valid management key.


        This API endpoint allows administrators to deactivate an existing access key.


        Once the access key has been deactivated, it''s access will be revoked until reactivated.


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: DeactivateAccessKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 6
      x-meta:
        title: Deactivate Access Key | Access Key Management
        description: Deactivate an existing access key, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/activate/batch:
    post:
      tags:
      - Mgmt
      summary: Batch Activate Access Keys
      description: '### Activate existing access keys in batch, using a valid management key.


        This API endpoint allows administrators to activate existing access keys in batch.


        ### Next Steps


        Once you have reactivated the access key, you can utilize it to configure external items such as [SCIM](/api/scimmanagement/), or use it to [exchange for a JWT](/api/access-keys/exchange-key).


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: ActivateAccessKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyBatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 7
      x-meta:
        title: Batch Activate Access Keys | Access Key Management
        description: Activate existing access keys in batch, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/deactivate/batch:
    post:
      tags:
      - Mgmt
      summary: Batch Deactivate Access Keys
      description: '### Deactivate  existing access keys in batch, using a valid management key.


        This API endpoint allows administrators to deactivate existing access keys in batch.


        Once the access keys have been deactivated, their access will be revoked until reactivated.


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: DeactivateAccessKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyBatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 8
      x-meta:
        title: Batch Deactivate Access Keys | Access Key Management
        description: Deactivate  existing access keys in batch, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/delete/batch:
    post:
      tags:
      - Mgmt
      summary: Batch Delete Access Keys
      description: '### Delete existing access keys in batch, using a valid management key.


        This API endpoint allows administrators to delete existing access keys in batch.


        Once the access keys have been deleted, their access will be revoked.


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: DeleteAccessKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyBatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 9
      x-meta:
        title: Batch Delete Access Keys | Access Key Management
        description: Delete existing access keys in batch, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/accesskey/delete:
    post:
      tags:
      - Mgmt
      summary: Delete Access Key
      description: '### Delete an existing access key, using a valid management key.


        This API endpoint allows administrators to delete an existing access key.


        Once the access key has been deleted, it''s access will be revoked.


        ### See also


        - See [Access Key Management](/access-keys) for further details on managing access keys.'
      operationId: DeleteAccessKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: accessKeyManagement
      x-order: 10
      x-meta:
        title: Delete Access Key | Access Key Management
        description: Delete an existing access key, using a valid management key.
        keywords: api, access key management
  /v1/mgmt/audit/search:
    post:
      tags:
      - Mgmt
      summary: Search Audit
      description: '### Search the audit log, using a valid management key.


        This API endpoint allows you to search the audit log utilizing various search parameters and returns the results in JSON format.'
      operationId: SearchAudit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAuditRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAuditResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: auditManagement
      x-order: 1
      x-meta:
        title: Search Audit | Audit Management
        description: Search the audit log, using a valid management key.
        keywords: api, audit management
  /v1/mgmt/audit/event:
    post:
      tags:
      - Mgmt
      summary: Create Audit Event
      description: '### Create an audit log event, using a valid management key.


        This API endpoint allows you to create an audit log utilizing various parameters and returns the results in JSON format.'
      operationId: CreateAuditEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuditRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: auditManagement
      x-order: 2
      x-meta:
        title: Create Audit Event | Audit Management
        description: Create an audit log event, using a valid management key.
        keywords: api, audit management
  /v1/mgmt/analytics/search:
    post:
      tags:
      - Mgmt
      summary: Search Analytics
      description: Search analytics (summarized) data grouped by time periods, using a valid management key.
      operationId: SearchAnalytics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAnalyticsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAnalyticsResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: auditManagement
      x-order: 3
      x-meta:
        title: Search Analytics | Audit Management
        description: Search analytics (summarized) data grouped by time periods, using a valid management key.
        keywords: api, audit management
  /v1/mgmt/user:
    get:
      tags:
      - Mgmt
      summary: Load User
      description: '### Load a user''s data, using a valid management key.


        This API endpoint takes the user''s loginId and then returns details of a user utilizing a valid management key. The response includes the following; however, there are additional items in the response that you can see below by expanding the response 200 OK.

        - loginIds

        - userId

        - name

        - email

        - phone

        - verified settings (phone, email)

        - Tenant configurations - which tenantIds, which roleNames


        _Note: Suppose you frequently load a user for a specific user detail, such as their email address or a

        particular custom attribute. In that case, you can save execution time and additional API/SDK calls to load

        the user by adding the items to the custom claim. For details on adding items to the custom claims, see

        [this documentation](/security-best-practices/custom-claims#using-custom-claims-within-descope-flows)._


        _Note: If you have access to all federated applications, the list will return as an empty array. Descope allows you to restrict which apps each user has access to, but by default gives access to all applications._


        ### Next Steps


        Once you have this data, you can utilize the response to prepare the payload to perform an [Update](/api/management/users/update-user) on the user.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: LoadUser
      parameters:
      - name: loginId
        in: query
        schema:
          type: string
      - name: userId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 1
      x-meta:
        title: Load User | User Management
        description: Load a user's data, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/create/test:
    post:
      tags:
      - Mgmt
      summary: Create Test User
      description: Create a test user, using a valid management key.
      operationId: CreateTestUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 1
      x-meta:
        title: Create Test User | User Management
        description: Create a test user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/provider/token:
    get:
      tags:
      - Mgmt
      summary: Get User Provider Token
      description: '### Get an existing user''s provider token, using a valid management key.


        This API endpoint will loads the user''s access token generated by the OAuth/OIDC provider, using a valid management key. When querying for OAuth providers, this only applies when utilizing your own account with the provider and have selected `Manage tokens from provider` selected under the [social auth methods](https://app.descope.com/settings/authentication/social).


        ### Query Params


        - `loginId` - The loginId of the user you want to get the provider token for.

        - `provider` - The provider you want to get the token for.

        -  `withRefreshToken (optional)` - set to true to also return the refresh token.

        - `forceRefresh (optional)` - set to true to force a refresh of the token.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Provider Options](/auth-methods/oauth#social-login-oauth-providers) for a the out of the box list of providers.'
      operationId: GetUserProviderToken
      parameters:
      - name: loginId
        in: query
        schema:
          type: string
      - name: provider
        in: query
        schema:
          type: string
      - name: withRefreshToken
        in: query
        schema:
          type: boolean
      - name: forceRefresh
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProviderTokenResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 2
      x-meta:
        title: Get User Provider Token | User Management
        description: Get an existing user's provider token, using a valid management key.
        keywords: api, user management
  /v1/mgmt/users/load:
    post:
      tags:
      - Mgmt
      summary: Load Users
      description: Load users by their IDs, using a valid management key.
      operationId: LoadUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 2
      x-meta:
        title: Load Users | User Management
        description: Load users by their IDs, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/search:
    post:
      tags:
      - Mgmt
      summary: Search Users
      description: Search users, using a valid management key.
      operationId: SearchUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
      deprecated: true
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 3
      x-meta:
        title: Search Users | User Management
        description: Search users, using a valid management key.
        keywords: api, user management
  /v2/mgmt/user/search/test:
    post:
      tags:
      - Mgmt
      summary: Search test Users
      description: Search test users, using a valid management key.
      operationId: SearchTestUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 3
      x-meta:
        title: Search test Users | User Management
        description: Search test users, using a valid management key.
        keywords: api, user management
  /v2/mgmt/user/search:
    post:
      tags:
      - Mgmt
      summary: Search Users
      description: '### Search for users, using a valid management key.


        This API endpoint will search for users utilizing a valid management key. Searches can be defined with any combination of roles or tenants. You can also only send the request with an empty payload to return all users.


        The response will include the following details on all users within an array of objects:

        - loginIds

        - userId

        - name

        - email

        - phone

        - verified settings (phone, email)

        - Tenant configurations (tenantIds, roleNames)


        ### Next Steps


        You can then parse through the response in order to find any users which you may need to delete, update, etc.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: SearchUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 4
      x-meta:
        title: Search Users | User Management
        description: Search for users, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/history:
    post:
      tags:
      - Mgmt
      summary: Get User's Login History
      description: '### Get an user''s login history, using a valid management key.


        This API endpoint will loads the user''s login history based on the user''s userId.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UsersAuthHistory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersAuthHistoryResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 5
      x-meta:
        title: Get User's Login History | User Management
        description: Get an user's login history, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/patch/batch:
    patch:
      tags:
      - Mgmt
      summary: Patch Users Batch
      description: Patch users in batch, using a valid management key.
      operationId: PatchUserBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserBatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchUserBatchResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 5.1
      x-meta:
        title: Patch Users Batch | User Management
        description: Patch users in batch, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/create:
    post:
      tags:
      - Mgmt
      summary: Create User
      description: "### Create a new user, using a valid management key.\n\nThis API endpoint will create a new user utilizing a valid management key.\n\nThis API endpoint allows you to configure all aspects of a user:\n- loginId\n- email\n- phone\n- verified settings (phone, email) - one must be set to true\n- displayName\n- roleNames\n- Tenant configurations - which tenantIds, which roleNames. The userTenants can include multiple items\nEx:\n```\n\"userTenants\": [\n{\n  \"tenantId\": \"T2IMjmRfYTQHlbaastz3im59ERS3\",\n  \"roleNames\": [\n    \"Test\"\n  ]\n},\n{\n  \"tenantId\": \"T2Igau6dX1R6SkomtFCdBLrc3r67\",\n  \"roleNames\": [\n    \"Test\"\n  ]\n}\n```\n\nAdditionally, you can create a user with multiple login IDs by passing an array of loginIds in string format within the `additionalIdentifiers` key.\n\n### Next Steps\n\nOnce the user is created, the user can then login utilizing any sign-in api supported. This will then switch the user from invited to active.\n\n### See also\n\n- See [Manage User](/manage/users) for further details on managing users.\n- See [The User Object](/api/overview#the-user-object) for further details on the user object."
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 6
      x-meta:
        title: Create User | User Management
        description: Create a new user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/create/batch:
    post:
      tags:
      - Mgmt
      summary: Batch Create Users
      description: "### Batch Create Users, using a valid management key.\n\nThis API endpoint will batch create new users utilizing a valid management key.\n\nThis API endpoint allows you to configure all aspects of a user:\n- loginId\n- email\n- phone\n- verified settings (phone, email) - one must be set to true\n- displayName\n- roleNames\n- Tenant configurations - which tenantIds, which roleNames. The userTenants can include multiple items\nEx:\n```\n\"userTenants\": [\n{\n  \"tenantId\": \"T2IMjmRfYTQHlbaastz3im59ERS3\",\n  \"roleNames\": [\n    \"Test\"\n  ]\n},\n{\n  \"tenantId\": \"T2Igau6dX1R6SkomtFCdBLrc3r67\",\n  \"roleNames\": [\n    \"Test\"\n  ]\n}\n```\n\nAdditionally, you can create a user with multiple login IDs by passing an array of loginIds in string format within the `additionalIdentifiers` key.\n\nYou can also decide whether to invite the users, configure the inviteUrl, and whether to send invites via email or SMS.\n\nWhen importing with hashed passwords, see [this guide](/migrate/custom#importing-passwords) for further detailed configuration of password hash formats.\n\n### Next Steps\n\nOnce the user is created, the user can then login utilizing any sign-in api supported. This will then switch the user from invited to active.\n\n### See also\n\n- See [Manage User](/manage/users) for further details on managing users.\n- See [The User Object](/api/overview#the-user-object) for further details on the user object."
      operationId: CreateUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUsersResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 7
      x-meta:
        title: Batch Create Users | User Management
        description: Batch Create Users, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update:
    post:
      tags:
      - Mgmt
      summary: Update User
      description: '### Updates a user''s details, using a valid management key.


        This API endpoint will update a user''s details of a user utilizing a valid management key.


        It is important to understand the update will take the configurations for the user provided and will overwrite all user settings. This means that if the user currently has email and phone, but the update only includes email, the phone and other non-provided configurations will be removed.


        This API endpoint will remove any details that are not provided. It is preferred to use other updates supported by the API, such as the following options:

        - [Update User Status](/api/management/users/update-user-status)

        - [Update User Email](/api/management/users/update-user-email)

        - [Update User Phone](/api/management/users/update-user-phone)

        - [Update User Display Name](/api/management/users/update-user-display-name)

        - [Update User Add Tenant](/api/management/users/update-user-add-tenant)

        - [Update User Remove Tenant](/api/management/users/update-user-remove-tenant)

        - [Update User Add Role](/api/management/users/update-user-add-roles)

        - [Update User Remove Role](/api/management/users/update-user-remove-roles)


        Additionally, you can update a user with multiple login IDs by passing an array of loginIds in string format within the `additionalIdentifiers` key.


        It is suggested to gather the current user configurations via [Load User](/api/management/users/load-user) in order to assist you in building the payload for this api endpoint.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UpdateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 8
      x-meta:
        title: Update User | User Management
        description: Updates a user's details, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/recovery/email:
    post:
      tags:
      - Mgmt
      summary: Update User Recovery Email
      description: Update user recovery email, using a valid management key.
      operationId: UpdateUserRecoveryEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRecoveryEmailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 8.1
      x-meta:
        title: Update User Recovery Email | User Management Email
        description: Update user recovery email, using a valid management key. Email
        keywords: api, user management, email
  /v1/mgmt/user/update/recovery/phone:
    post:
      tags:
      - Mgmt
      summary: Update User Recovery Phone
      description: Update user recovery phone, using a valid management key.
      operationId: UpdateUserRecoveryPhone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRecoveryPhoneRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 8.2
      x-meta:
        title: Update User Recovery Phone | User Management
        description: Update user recovery phone, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/patch:
    patch:
      tags:
      - Mgmt
      summary: Patch User
      description: '### Patch a user''s details, using a valid management key.


        This API endpoint will patch a user''s details of a user utilizing a valid management key.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: PatchUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 9
      x-meta:
        title: Patch User | User Management
        description: Patch a user's details, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/status:
    post:
      tags:
      - Mgmt
      summary: Update User Status
      description: '### Updates an existing user''s status, using a valid management key.


        This API endpoint allows you to update the user''s status granularly without updating all user details.


        Available statuses to utilize:

        - invited

        - enabled

        - disabled


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UpdateUserStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserStatusRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 10
      x-meta:
        title: Update User Status | User Management
        description: Updates an existing user's status, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/impersonationConsent:
    post:
      tags:
      - Mgmt
      summary: Update User Impersonation Consent
      description: Update user impersonation consent, using a valid management key. This allows granting impersonation consent without requiring the user-facing consent flow.
      operationId: UpdateUserImpersonationConsent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserImpersonationConsentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 10.5
      x-meta:
        title: Update User Impersonation Consent | User Management
        description: Update user impersonation consent, using a valid management key. This allows granting impersonation consent without requiring the user-facing consent flow.
        keywords: api, user management
  /v1/mgmt/user/update/email:
    post:
      tags:
      - Mgmt
      summary: Update User Email
      description: '### Updates an existing user''s email, using a valid management key.


        This API endpoint allows you to update the user''s email granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UpdateUserEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserEmailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 11
      x-meta:
        title: Update User Email | User Management Email
        description: Updates an existing user's email, using a valid management key. Email
        keywords: api, user management, email
  /v1/mgmt/user/update/loginid:
    post:
      tags:
      - Mgmt
      summary: Update User Login ID
      description: '### Updates an existing user''s login ID, using a valid management key.


        This API endpoint allows you to update a user''s Login ID.


        If you''d like to remove a login ID, provide an empty string for the new login ID.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UpdateUserLoginID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserLoginIDRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 12
      x-meta:
        title: Update User Login ID | User Management
        description: Updates an existing user's login ID, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/phone:
    post:
      tags:
      - Mgmt
      summary: Update User Phone
      description: '### Updates an existing user''s phone number, using a valid management key.


        This API endpoint allows you to update the user''s phone number granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UpdateUserPhone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPhoneRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 13
      x-meta:
        title: Update User Phone | User Management
        description: Updates an existing user's phone number, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/name:
    post:
      tags:
      - Mgmt
      summary: Update User Display Name
      description: '### Updates an existing user''s display name, using a valid management key.


        This API endpoint allows you to update the user''s display name granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: UpdateUserDisplayName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDisplayNameRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 14
      x-meta:
        title: Update User Display Name | User Management
        description: Updates an existing user's display name, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/role/add:
    post:
      tags:
      - Mgmt
      summary: Update User Add Roles
      description: Add roles to a user, using a valid management key.
      operationId: UpdateUserAddRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRolesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 14
      x-meta:
        title: Update User Add Roles | User Management
        description: Add roles to a user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/picture:
    post:
      tags:
      - Mgmt
      summary: Update User Picture
      description: '### Update an existing user''s profile picture, using a valid management key.


        This API endpoint allows you to update a user''s profile picture granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.'
      operationId: UpdateUserPicture
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPictureRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 15
      x-meta:
        title: Update User Picture | User Management
        description: Update an existing user's profile picture, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/customAttribute:
    post:
      tags:
      - Mgmt
      summary: Update User Custom Attribute
      description: '### Update an existing user''s custom attributes, using a valid management key.


        This API endpoint allows you to update a user''s custom attributes granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.'
      operationId: UpdateUserCustomAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserCustomAttributeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 16
      x-meta:
        title: Update User Custom Attribute | User Management
        description: Update an existing user's custom attributes, using a valid management key.
        keywords: api, user management
  /v1/mgmt/jwt/update:
    post:
      tags:
      - Mgmt
      summary: Update JWT
      description: '### Updates a JWT with custom claims, using a valid management key.


        This API endpoint will update a JWT with custom claims. This endpoint takes the JWT as well as the `customClaims` json.'
      operationId: UpdateJWT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJWTRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managementv1.JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 17
      x-meta:
        title: Update JWT | User Management
        description: Updates a JWT with custom claims, using a valid management key.
        keywords: api, user management
  /v2/mgmt/user/history:
    post:
      tags:
      - Mgmt
      summary: Users Authentication History V2
      description: Load users' authentication history by user IDs, using a valid management key. V2 endpoint with improved request body handling.
      operationId: UsersAuthHistoryV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersAuthHistoryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersAuthHistoryResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 17
      x-meta:
        title: Users Authentication History V2 | User Management
        description: Load users' authentication history by user IDs, using a valid management key. V2 endpoint with improved request body handling.
        keywords: api, user management
  /v1/mgmt/user/password/expire:
    post:
      tags:
      - Mgmt
      summary: Expire User Passwsord
      description: '### Expire an existing user''s password, using a valid management key.


        This API endpoint allows you to expire an existing user''s password. Upon next login, the user will need to follow the reset password flow.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.

        - See [Reset Password](/api/passwords/email/password-reset) for sending the password reset email.'
      operationId: ExpireUserPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpireUserPasswordRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 18
      x-meta:
        title: Expire User Passwsord | User Management
        description: Expire an existing user's password, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/trusteddevices/list:
    post:
      tags:
      - Mgmt
      summary: List Trusted Devices
      description: List trusted devices for one or more users.
      operationId: ListTrustedDevicesForUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTrustedDevicesForUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrustedDevicesForUsersResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 18
      x-meta:
        title: List Trusted Devices | User Management
        description: List trusted devices for one or more users.
        keywords: api, user management
  /v1/mgmt/user/passkey/delete:
    post:
      tags:
      - Mgmt
      summary: Remove User Passkey
      description: Remove a specific passkey for a user by credential ID, using a valid management key.
      operationId: RemoveUserPasskey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveUserPasskeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 19
      x-meta:
        title: Remove User Passkey | User Management
        description: Remove a specific passkey for a user by credential ID, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/passkeys/import:
    post:
      tags:
      - Mgmt
      summary: Import User Passkeys
      description: Import passkey credentials for a user, using a valid management key.
      operationId: ImportUserPasskeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportUserPasskeysRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 19
      x-meta:
        title: Import User Passkeys | User Management
        description: Import passkey credentials for a user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/passkeys/list:
    post:
      tags:
      - Mgmt
      summary: List User Passkeys
      description: List all passkeys for a user, using a valid management key.
      operationId: ListUserPasskeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUserPasskeysRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserPasskeysResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 19
      x-meta:
        title: List User Passkeys | User Management
        description: List all passkeys for a user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/password/set/active:
    post:
      tags:
      - Mgmt
      summary: Set Active Password for User
      description: '### Set an active password for an existing user, using a valid management key.


        This API endpoint allows you to set an active password for an existing user. This will allow the user to authenticate with this password without changing it.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.'
      operationId: SetUserActivePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUserPasswordRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUserPasswordResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 19
      x-meta:
        title: Set Active Password for User | User Management
        description: Set an active password for an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/trusteddevices/remove:
    post:
      tags:
      - Mgmt
      summary: Delete Trusted Devices
      description: Delete user trusted devices by IDs.
      operationId: UpdateUserRemoveTrustedDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRemoveTrustedDevicesRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 19
      x-meta:
        title: Delete Trusted Devices | User Management
        description: Delete user trusted devices by IDs.
        keywords: api, user management
  /v1/mgmt/user/password/set/temporary:
    post:
      tags:
      - Mgmt
      summary: Set Temporary Password for User
      description: '### Set a temporary password for an existing user, using a valid management key.


        This API endpoint allows you to set a temporary password for an existing user. This will require the user to change their password on next authentication.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.'
      operationId: SetUserTemporaryPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUserPasswordRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUserPasswordResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 20
      x-meta:
        title: Set Temporary Password for User | User Management
        description: Set a temporary password for an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/totp/delete:
    post:
      tags:
      - Mgmt
      summary: Delete User's TOTP Seed
      description: '### Delete an existing user''s TOTP, using a valid management key.


        This API endpoint allows you to delete an existing user''s TOTP seed.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: RemoveUserTOTP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveUserTOTPRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 21
      x-meta:
        title: Delete User's TOTP Seed | User Management
        description: Delete an existing user's TOTP, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/tenant/add:
    post:
      tags:
      - Mgmt
      summary: Update User Add Tenant
      description: '### Add a tenant to an existing user, using a valid management key.


        This API endpoint allows you to add a user to a tenant granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.'
      operationId: UpdateUserAddTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserTenantRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 22
      x-meta:
        title: Update User Add Tenant | User Management
        description: Add a tenant to an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/tenant/remove:
    post:
      tags:
      - Mgmt
      summary: Update User Remove Tenant
      description: '### Removes a tenant from an existing user, using a valid management key.


        This API endpoint allows you to remove a user from a tenant granularly without updating all user details.


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Tenants](/management/tenant-management) for further details on managing tenants.'
      operationId: UpdateUserRemoveTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserTenantRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 23
      x-meta:
        title: Update User Remove Tenant | User Management
        description: Removes a tenant from an existing user, using a valid management key.
        keywords: api, user management
  /v2/mgmt/user/update/role/add:
    post:
      tags:
      - Mgmt
      summary: Update User Add Roles
      description: '### Add roles to an existing user, using a valid management key.


        This API endpoint allows you to add roles to a user granularly without updating all user details.


        `roleNames` is an array of the role names in string format.


        The `tenantId` is optional; if provided, the user must be a member of that tenant


        The response returns the user''s details in json format.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Roles](/manage/roles/) for further details on managing roles.'
      operationId: UpdateUserAddRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRolesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 24
      x-meta:
        title: Update User Add Roles | User Management
        description: Add roles to an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/role/set:
    post:
      tags:
      - Mgmt
      summary: Set User's Roles
      description: '### Set an existing user''s roles, using a valid management key.


        This API endpoint allows you to set a user''s roles.


        This will override the current roles associated to the user and will set all passed roles.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Roles](/manage/roles/) for further details on managing roles.'
      operationId: UpdateUserSetRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRolesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 25
      x-meta:
        title: Set User's Roles | User Management
        description: Set an existing user's roles, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/role/remove:
    post:
      tags:
      - Mgmt
      summary: Update User Remove Roles
      description: '### Remove roles from an existing user, using a valid management key.


        This API endpoint allows you to remove roles from a user granularly without updating all user details.


        `roleNames` is an array of the role names in string format.


        The `tenantId` is optional; if provided, the user must be a member of that tenant


        The response returns the user''s details in json format.


        ### See also

        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Roles](/manage/roles/) for further details on managing roles.'
      operationId: UpdateUserRemoveRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRolesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 26
      x-meta:
        title: Update User Remove Roles | User Management
        description: Remove roles from an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/ssoapp/add:
    post:
      tags:
      - Mgmt
      summary: Add Application to User
      description: '### Add Applications to an existing user, using a valid management key.


        This API endpoint allows you to add Applications to a user granularly without updating all user details.


        ### See also

        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Applications](/manage/idpapplications/) for further details on Applications.'
      operationId: UpdateUserAddSSOApps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserSSOAppsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 27
      x-meta:
        title: Add Application to User | User Management
        description: Add Applications to an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/ssoapp/set:
    post:
      tags:
      - Mgmt
      summary: Set Applications to User
      description: '### Set Applications for an existing user, using a valid management key.


        This API endpoint allows you to set the associated Applications for a user.


        ### See also

        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Applications](/manage/idpapplications/) for further details on Applications.'
      operationId: UpdateUserSetSSOApps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserSSOAppsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 28
      x-meta:
        title: Set Applications to User | User Management
        description: Set Applications for an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/update/ssoapp/remove:
    post:
      tags:
      - Mgmt
      summary: Remove Application to User
      description: '### Remove Applications from an existing user, using a valid management key.


        This API endpoint allows you to remove Applications from a user granularly without updating all user details.


        ### See also

        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Applications](/manage/idpapplications/) for further details on Applications.'
      operationId: UpdateUserRemoveSSOApps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserSSOAppsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 29
      x-meta:
        title: Remove Application to User | User Management
        description: Remove Applications from an existing user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/logout:
    post:
      tags:
      - Mgmt
      summary: Log user out of all sessions
      description: '### Log a user out of all sessions, using a valid management key.


        This API endpoint allows you to log a user out of all active sessions.


        ### See also

        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.

        - See [Manage Roles](/manage/roles/) for further details on managing roles.'
      operationId: LogoutAllUserDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogoutRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 30
      x-meta:
        title: Log user out of all sessions | User Management
        description: Log a user out of all sessions, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/passkeys/delete:
    post:
      tags:
      - Mgmt
      summary: Delete User's Passkeys
      description: '### Delete a user''s Passkeys, using a valid management key.


        This API endpoint will delete all existing passkeys for the user


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: RemoveUserPasskeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveUserPasskeysRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 31
      x-meta:
        title: Delete User's Passkeys | User Management
        description: Delete a user's Passkeys, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/delete:
    post:
      tags:
      - Mgmt
      summary: Delete User
      description: '### Delete a user, using a valid management key.


        This API endpoint will delete a user utilizing a valid management key based on the provided user loginId.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: DeleteUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 32
      x-meta:
        title: Delete User | User Management
        description: Delete a user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/user/delete/batch:
    post:
      tags:
      - Mgmt
      summary: Batch Delete Users
      description: '### Delete users, using a valid management key.


        This API endpoint will delete users utilizing a valid management key.


        ### See also


        - See [Manage Users](/manage/users) for further details on managing users.

        - See [The User Object](/api/overview#the-user-object) for further details on the user object.'
      operationId: DeleteUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUsersRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 33
      x-meta:
        title: Batch Delete Users | User Management
        description: Delete users, using a valid management key.
        keywords: api, user management
  /v1/mgmt/impersonate:
    post:
      tags:
      - Mgmt
      summary: Impersonate User
      description: '### Impersonate a user, using a valid management key.


        This API endpoint will allow you to impersonate a user using a login ID.

        The impersonator user must have the impersonation permission in order for this request to work.

        The response would be a refresh JWT of the impersonated user'
      operationId: Impersonate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpersonateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managementv1.JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 34
      x-meta:
        title: Impersonate User | User Management
        description: Impersonate a user, using a valid management key.
        keywords: api, user management
  /v1/mgmt/auth/anonymous:
    post:
      tags:
      - Mgmt
      summary: Anonymous User
      description: '### Anonymous User

        Anonymous Users are identified with a unique Descope JWT type. Eventually, create a token that we can use as the defined anonymous identity.

        Signed by Descope. For more info, please refer to our anonymous users documentation.'
      operationId: Anonymous
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnonymousUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymousJWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-order: 35
      x-meta:
        title: Anonymous User | User Management
        description: Anonymous User
        keywords: api, user management
  /v1/mgmt/impersonate/stepup:
    post:
      tags:
      - Mgmt
      summary: Impersonate Stepup
      description: Impersonate as a different user with step-up claim
      operationId: ImpersonateStepup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpersonateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managementv1.JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-meta:
        title: Impersonate Stepup | User Management
        description: Impersonate as a different user with step-up claim
        keywords: api, user management
  /v1/mgmt/stop/impersonation:
    post:
      tags:
      - Mgmt
      summary: Stop Impersonation
      description: Stop impersonation as a different user
      operationId: StopImpersonation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopImpersonationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managementv1.JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: userManagement
      x-meta:
        title: Stop Impersonation | User Management
        description: Stop impersonation as a different user
        keywords: api, user management
  /v1/mgmt/auth/signin:
    post:
      tags:
      - Mgmt
      summary: Generate JWT for Sign-In
      description: Generate a JWT for an existing user, using a valid management key.
      operationId: GenerateJWTSignIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateJWTSignInRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: generice
      x-order: 1
      x-meta:
        title: Generate JWT for Sign-In | Generice
        description: Generate a JWT for an existing user, using a valid management key.
        keywords: api, generice
  /v1/mgmt/auth/signup:
    post:
      tags:
      - Mgmt
      summary: Generate JWT for Sign-Up
      description: Create a new user and generate a JWT for them, using a valid management key.
      operationId: GenerateJWTSignUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateJWTSignUpRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: generic
      x-order: 3
      x-meta:
        title: Generate JWT for Sign-Up | Generic
        description: Create a new user and generate a JWT for them, using a valid management key.
        keywords: api, generic
  /v1/mgmt/auth/signup-in:
    post:
      tags:
      - Mgmt
      summary: Generate JWT for Sign-Up or Sign-In
      description: Create a new user and generate a JWT for them, or just generate a JWT if the user already exists. Uses a valid management key.
      operationId: GenerateJWTSignUpOrIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateJWTSignUpRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: generic
      x-order: 3
      x-meta:
        title: Generate JWT for Sign-Up or Sign-In | Generic
        description: Create a new user and generate a JWT for them, or just generate a JWT if the user already exists. Uses a valid management key.
        keywords: api, generic
  /v1/mgmt/authz/schema/save:
    post:
      tags:
      - Mgmt
      summary: Save an authz schema
      description: Save (create or update) an authz schema for your project.
      operationId: SaveSchema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveSchemaRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveSchemaResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 1
      x-meta:
        title: Save an authz schema | Authz
        description: Save (create or update) an authz schema for your project.
        keywords: api, authz
  /v1/mgmt/authz/schema/delete:
    post:
      tags:
      - Mgmt
      summary: Delete an authz schema
      description: Delete an authz schema thus removing authz from your project.
      operationId: DeleteSchema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSchemaRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSchemaResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 2
      x-meta:
        title: Delete an authz schema | Authz
        description: Delete an authz schema thus removing authz from your project.
        keywords: api, authz
  /v1/mgmt/authz/schema/load:
    post:
      tags:
      - Mgmt
      summary: Load an authz schema
      description: Load an authz schema for your project.
      operationId: LoadSchema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadSchemaRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadSchemaResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 3
      x-meta:
        title: Load an authz schema | Authz
        description: Load an authz schema for your project.
        keywords: api, authz
  /v1/mgmt/authz/ns/save:
    post:
      tags:
      - Mgmt
      summary: Save an authz namespace
      description: Save (create or update) an authz namespace for your project.
      operationId: SaveNamespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveNamespaceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveNamespaceResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 4
      x-meta:
        title: Save an authz namespace | Authz
        description: Save (create or update) an authz namespace for your project.
        keywords: api, authz
  /v1/mgmt/fga/schema/dryrun:
    post:
      tags:
      - Mgmt
      summary: Validate an authz schema and preview the changes
      description: Preview schema diff between existing and new schema, without saving it.
      operationId: DryRunSchema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveDSLSchemaRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveSchemaDryRunResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: authz
      x-order: 4
      x-meta:
        title: Validate an authz schema and preview the changes | Authz
        description: Preview schema diff between existing and new schema, without saving it.
        keywords: api, authz
  /v1/mgmt/authz/ns/delete:
    post:
      tags:
      - Mgmt
      summary: Delete an authz namespace
      description: Delete an authz namespace and remove all related relations.
      operationId: DeleteNamespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNamespaceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNamespaceResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 5
      x-meta:
        title: Delete an authz namespace | Authz
        description: Delete an authz namespace and remove all related relations.
        keywords: api, authz
  /v1/mgmt/authz/rd/save:
    post:
      tags:
      - Mgmt
      summary: Save an authz relation definition
      description: Save (create or update) an authz relation definition for your project.
      operationId: SaveRelationDefinition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveRelationDefinitionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveRelationDefinitionResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 6
      x-meta:
        title: Save an authz relation definition | Authz
        description: Save (create or update) an authz relation definition for your project.
        keywords: api, authz
  /v1/mgmt/authz/rd/delete:
    post:
      tags:
      - Mgmt
      summary: Delete an authz relation definition
      description: Delete an authz relation definition for your project and remove all related relations.
      operationId: DeleteRelationDefinition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRelationDefinitionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRelationDefinitionResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 7
      x-meta:
        title: Delete an authz relation definition | Authz
        description: Delete an authz relation definition for your project and remove all related relations.
        keywords: api, authz
  /v1/mgmt/authz/re/create:
    post:
      tags:
      - Mgmt
      summary: Create a list of authz relations
      description: Create a list of authz relations.
      operationId: CreateRelations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRelationsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRelationsResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 8
      x-meta:
        title: Create a list of authz relations | Authz
        description: Create a list of authz relations.
        keywords: api, authz
  /v1/mgmt/authz/re/delete:
    post:
      tags:
      - Mgmt
      summary: Delete a list of authz relations
      description: Delete a list of authz relations.
      operationId: DeleteRelations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRelationsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRelationsResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 9
      x-meta:
        title: Delete a list of authz relations | Authz
        description: Delete a list of authz relations.
        keywords: api, authz
  /v1/mgmt/authz/re/deleteresources:
    post:
      tags:
      - Mgmt
      summary: Delete all relations for a list of resources
      description: Delete all relations for the given list of resources.
      operationId: DeleteRelationsForResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRelationsForResourcesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRelationsForResourcesResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 10
      x-meta:
        title: Delete all relations for a list of resources | Authz
        description: Delete all relations for the given list of resources.
        keywords: api, authz
  /v1/mgmt/authz/re/deleteresourcesrelations:
    post:
      tags:
      - Mgmt
      summary: Delete all relations with matching resourceIds for a list of resources
      description: Delete all relations for the given list of resources in which they are the resource.
      operationId: DeleteResourceRelationsForResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteResourceRelationsForResourcesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResourceRelationsForResourcesResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: authz
      x-order: 10
      x-meta:
        title: Delete all relations with matching resourceIds for a list of resources | Authz
        description: Delete all relations for the given list of resources in which they are the resource.
        keywords: api, authz
  /v1/mgmt/authz/re/has:
    post:
      tags:
      - Mgmt
      summary: Check a list of relation queries
      description: Check a list of relation queries.
      operationId: HasRelations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HasRelationsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HasRelationsResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 11
      x-meta:
        title: Check a list of relation queries | Authz
        description: Check a list of relation queries.
        keywords: api, authz
  /v1/mgmt/authz/re/who:
    post:
      tags:
      - Mgmt
      summary: Query who can access resource with relation
      description: Return a list of users who can access a given resource with given relation.
      operationId: WhoCanAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhoCanAccessRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoCanAccessResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 12
      x-meta:
        title: Query who can access resource with relation | Authz
        description: Return a list of users who can access a given resource with given relation.
        keywords: api, authz
  /v1/mgmt/authz/re/resource:
    post:
      tags:
      - Mgmt
      summary: Load a list of defined relations for the given resource
      description: Load a list of defined relations for the given resource.
      operationId: ResourceRelations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceRelationsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRelationsResponse'
      security:
      - Descope Project ID and Management Key: []
      x-publishYaml: __NO_PUBLISH__
      x-order: 13
      x-meta:
[...]
