openapi: 3.0.3
info:
  title: Descope API
  description: Descope API
  contact:
    name: Descope
    url: https://descope.com
    email: support@descope.com
  version: 0.0.1
servers:
  - url: https://api.descope.com
    description: Descope Production
  - url: '{customUrl}'
    description: Custom server URL
    variables:
      customUrl:
        default: https://api.descope.com
        description: Your Descope API base URL
paths:
  /oauth2/v1/apps/agentic/{project_id}/{mcp_server_id}/authorize:
    get:
      tags: []
      description: Third Party application authorization GET endpoint by MCP server ID
      operationId: ThirdPartyApplicationAuthorizeGetByMcpServerID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
        - name: mcp_server_id
          in: path
          required: true
          schema:
            type: string
        - name: response_type
          in: query
          description: >-
            RFC 9101 §6.3: when a JAR `request` parameter is present,
            response_type and
             redirect_uri may be omitted from the outer query and carried inside the JWT.
             The controller validates the resolved values after JAR processing.
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: redirect_uri
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          description: PKCE
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: nonce
          in: query
          schema:
            type: string
        - name: loginHint
          in: query
          schema:
            type: string
        - name: prompt
          in: query
          schema:
            type: string
        - name: flow
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: resource
          in: query
          description: RFC 8707 - OAuth 2.0 Resource Indicators
          schema:
            type: array
            items:
              type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: style
          in: query
          schema:
            type: string
        - name: dpop_jkt
          in: query
          schema:
            type: string
        - name: request
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application authorization GET endpoint by MCP server ID
        keywords: api, third party apps
    post:
      tags: []
      description: Third Party application authorization POST endpoint by MCP server ID
      operationId: ThirdPartyApplicationAuthorizePOSTByMcpServerID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
        - name: mcp_server_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationAuthZEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application authorization POST endpoint by MCP server ID
        keywords: api, third party apps
  /oauth2/v1/apps/agentic/{project_id}/{mcp_server_id}/token:
    post:
      tags: []
      description: Third Party application token endpoint by MCP server ID
      operationId: ThirdPartyApplicationTokenEndpointByMcpServerID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
        - name: mcp_server_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationTokenEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCTokenEndpointResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application token endpoint by MCP server ID
        keywords: api, third party apps
  /oauth2/v1/apps/authorize:
    get:
      tags: []
      description: Third Party application authorization GET endpoint
      operationId: ThirdPartyApplicationAuthorizeGet
      parameters:
        - name: response_type
          in: query
          description: >-
            RFC 9101 §6.3: when a JAR `request` parameter is present,
            response_type and
             redirect_uri may be omitted from the outer query and carried inside the JWT.
             The controller validates the resolved values after JAR processing.
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: redirect_uri
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          description: PKCE
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: nonce
          in: query
          schema:
            type: string
        - name: loginHint
          in: query
          schema:
            type: string
        - name: prompt
          in: query
          schema:
            type: string
        - name: flow
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: resource
          in: query
          description: RFC 8707 - OAuth 2.0 Resource Indicators
          schema:
            type: array
            items:
              type: string
        - name: project_id
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: mcp_server_id
          in: query
          schema:
            type: string
        - name: style
          in: query
          schema:
            type: string
        - name: dpop_jkt
          in: query
          schema:
            type: string
        - name: request
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      title: Get Authorization
      summary: Get Authorization Endpoint
      x-meta:
        title: Get Authorization Endpoint | Third Party Apps
        description: Third Party application authorization GET endpoint
        keywords: api, third party apps
    post:
      tags: []
      description: Third Party application authorization POST endpoint
      operationId: ThirdPartyApplicationAuthorize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationAuthZEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      title: Post Authorization
      summary: Post Authorization Endpoint
      x-meta:
        title: Post Authorization Endpoint | Third Party Apps
        description: Third Party application authorization POST endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/bc-authorize:
    post:
      tags: []
      description: Third Party application CIBA backchannel authentication endpoint
      operationId: ThirdPartyApplicationCIBAEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CIBAAuthRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CIBAAuthResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application CIBA backchannel authentication endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/device:
    post:
      tags: []
      description: Third Party application device endpoint
      operationId: ThirdPartyApplicationDeviceEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCDeviceEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCDeviceEndpointResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application device endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/finish-authorize:
    post:
      tags: []
      description: Third Party application authorization finish endpoint
      operationId: ThirdPartyApplicationFinish
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationFinishEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      title: Finish Authorization
      summary: Finish Authorization Endpoint
      x-meta:
        title: Finish Authorization Endpoint | Third Party Apps
        description: Third Party application authorization finish endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/revoke:
    post:
      tags: []
      description: OIDC revoke endpoint
      operationId: ThirdPartyApplicationRevocationEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ThirdPartyApplicationRevocationEndpointRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      title: OIDC revoke endpoint
      summary: OIDC revoke endpoint
      x-meta:
        title: OIDC revoke endpoint | Third Party Apps
        description: OIDC revoke endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/token:
    post:
      tags: []
      description: Third Party application token endpoint
      operationId: ThirdPartyApplicationTokenEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationTokenEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCTokenEndpointResponse'
      x-publishYaml: thirdPartyApps
      security: []
      title: Third Party application token endpoint
      summary: Third Party application token endpoint
      x-meta:
        title: Third Party application token endpoint | Third Party Apps
        description: Third Party application token endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/userinfo:
    get:
      tags: []
      description: Third Party application Get UserInfo endpoint
      operationId: ThirdPartyApplicationUserInfoEndpointGet
      parameters:
        - name: project_id
          in: query
          description: Can be empty as data arrived on the Authorization header token
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ThirdPartyApplicationUserInfoEndpointResponse
      x-publishYaml: thirdPartyApps
      security: []
      title: Get UserInfo
      summary: Third Party application Get UserInfo endpoint
      x-meta:
        title: Third Party application Get UserInfo endpoint | Third Party Apps
        description: Third Party application Get UserInfo endpoint
        keywords: api, third party apps
    post:
      tags: []
      description: Third Party application Post UserInfo endpoint
      operationId: ThirdPartyApplicationUserInfoEndpointPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ThirdPartyApplicationUserInfoEndpointRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ThirdPartyApplicationUserInfoEndpointResponse
      x-publishYaml: thirdPartyApps
      security: []
      title: Post UserInfo
      summary: Third Party application Post UserInfo endpoint
      x-meta:
        title: Third Party application Post UserInfo endpoint | Third Party Apps
        description: Third Party application Post UserInfo endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/{project_id}/authorize:
    get:
      tags: []
      description: Third Party application authorization GET endpoint
      operationId: ThirdPartyApplicationAuthorizeGetByProjectID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
        - name: response_type
          in: query
          description: >-
            RFC 9101 §6.3: when a JAR `request` parameter is present,
            response_type and
             redirect_uri may be omitted from the outer query and carried inside the JWT.
             The controller validates the resolved values after JAR processing.
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: redirect_uri
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          description: PKCE
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: nonce
          in: query
          schema:
            type: string
        - name: loginHint
          in: query
          schema:
            type: string
        - name: prompt
          in: query
          schema:
            type: string
        - name: flow
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: resource
          in: query
          description: RFC 8707 - OAuth 2.0 Resource Indicators
          schema:
            type: array
            items:
              type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: mcp_server_id
          in: query
          schema:
            type: string
        - name: style
          in: query
          schema:
            type: string
        - name: dpop_jkt
          in: query
          schema:
            type: string
        - name: request
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application authorization GET endpoint
        keywords: api, third party apps
    post:
      tags: []
      description: Third Party application authorization POST endpoint
      operationId: ThirdPartyApplicationAuthorizePostByProjectID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationAuthZEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application authorization POST endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/{project_id}/bc-authorize:
    post:
      tags: []
      description: Third Party application CIBA backchannel authentication endpoint
      operationId: ThirdPartyApplicationCIBAEndpoint
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CIBAAuthRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CIBAAuthResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application CIBA backchannel authentication endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/{project_id}/device:
    post:
      tags: []
      description: Third Party application device endpoint
      operationId: ThirdPartyApplicationDeviceEndpoint
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCDeviceEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCDeviceEndpointResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application device endpoint
        keywords: api, third party apps
  /oauth2/v1/apps/{project_id}/revoke:
    post:
      tags: []
      description: Third Party application revoke endpoint by project ID
      operationId: ThirdPartyApplicationRevocationEndpointByProjectID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ThirdPartyApplicationRevocationEndpointRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application revoke endpoint by project ID
        keywords: api, third party apps
  /oauth2/v1/apps/{project_id}/token:
    post:
      tags: []
      description: Third Party application token endpoint by project ID
      operationId: ThirdPartyApplicationTokenEndpointByProjectID
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyApplicationTokenEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCTokenEndpointResponse'
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application token endpoint by project ID
        keywords: api, third party apps
  /oauth2/v1/apps/{project_id}/userinfo:
    get:
      tags: []
      description: Third Party application Get UserInfo endpoint by project ID
      operationId: ThirdPartyApplicationUserInfoEndpointGetByProjectID
      parameters:
        - name: project_id
          in: path
          description: Can be empty as data arrived on the Authorization header token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ThirdPartyApplicationUserInfoEndpointResponse
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application Get UserInfo endpoint by project ID
        keywords: api, third party apps
    post:
      tags: []
      description: Third Party application POST UserInfo endpoint by project ID
      operationId: ThirdPartyApplicationUserInfoEndpointPostByProjectID
      parameters:
        - name: project_id
          in: path
          description: Can be empty as data arrived on the Authorization header token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ThirdPartyApplicationUserInfoEndpointRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ThirdPartyApplicationUserInfoEndpointResponse
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Third Party application POST UserInfo endpoint by project ID
        keywords: api, third party apps
  /v1/mgmt/inboundapp/app/{projectId}/register:
    post:
      tags: []
      description: Register Third Party Application according to RFC 7591
      operationId: RegisterThirdPartyApplication
      parameters:
        - name: projectId
          in: path
          description: Auto fill by proto from the requested URL
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/managementv1.RegisterThirdPartyApplicationRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/managementv1.RegisterThirdPartyApplicationResponse
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Register Third Party Application according to RFC 7591
        keywords: api, third party apps
  /v1/mgmt/mcp/client/{projectId}/{mcpServerId}/register:
    post:
      tags: []
      description: Register MCP Server client according to RFC 7591
      operationId: RegisterMcpServerClient
      parameters:
        - name: projectId
          in: path
          description: Auto fill by proto from the requested URL
          required: true
          schema:
            type: string
        - name: mcpServerId
          in: path
          description: Auto fill by proto from the requested URL (only in agentic hub)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/managementv1.RegisterThirdPartyApplicationRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/managementv1.RegisterThirdPartyApplicationResponse
      x-publishYaml: thirdPartyApps
      security: []
      x-meta:
        title: undefined | Third Party Apps
        description: Register MCP Server client according to RFC 7591
        keywords: api, third party apps
  /oauth2/v1/authorize:
    get:
      tags: []
      summary: OIDC Authorize
      description: OIDC GET authorization endpoint start
      operationId: OIDCAuthZEndpointGetStart
      parameters:
        - name: response_type
          in: query
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: redirect_uri
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          description: PKCE
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: dynamic_val
          in: query
          schema:
            type: string
        - name: nonce
          in: query
          schema:
            type: string
        - name: ssoAppId
          in: query
          schema:
            type: string
        - name: loginHint
          in: query
          schema:
            type: string
        - name: prompt
          in: query
          schema:
            type: string
        - name: flow
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: style
          in: query
          schema:
            type: string
        - name: dpop_jkt
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Authorize | Federated Apps
        description: OIDC GET authorization endpoint start
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC Authorize
      description: OIDC POST authorization endpoint start
      operationId: OIDCAuthZEndpointPostStart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCAuthZEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Authorize | Federated Apps
        description: OIDC POST authorization endpoint start
        keywords: api, federated apps
  /oauth2/v1/authorize/entramfa:
    post:
      tags: []
      summary: OIDC Authorize Entra MFA
      description: OIDC Entra MFA authorization endpoint
      operationId: OIDCAuthZEndpointEntraMFA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCAuthZEntraMFAEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Authorize Entra MFA | Federated Apps
        description: OIDC Entra MFA authorization endpoint
        keywords: api, federated apps
  /oauth2/v1/device:
    post:
      tags: []
      summary: OIDC Device
      description: OIDC device endpoint
      operationId: OIDCDeviceEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCDeviceEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCDeviceEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Device | Federated Apps
        description: OIDC device endpoint
        keywords: api, federated apps
  /oauth2/v1/finish-authorize:
    get:
      tags: []
      summary: OIDC Finish Authorize
      description: OIDC POST authorization endpoint finish
      operationId: OIDCAuthZEndpointFinishPost
      parameters:
        - name: state_id
          in: query
          schema:
            type: string
        - name: sso_app_id
          in: query
          schema:
            type: string
        - name: error_redirect_uri
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Finish Authorize | Federated Apps
        description: OIDC POST authorization endpoint finish
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC Finish Authorize
      description: OIDC GET authorization endpoint finish
      operationId: OIDCAuthZEndpointFinishGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCAuthZEndpointFinishRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Finish Authorize | Federated Apps
        description: OIDC GET authorization endpoint finish
        keywords: api, federated apps
  /oauth2/v1/logout:
    get:
      tags: []
      summary: OIDC End Session
      description: OIDC end session GET endpoint
      operationId: OIDCEndSessionEndpointGet
      parameters:
        - name: id_token_hint
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: post_logout_redirect_uri
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: ssoAppId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC End Session | Federated Apps
        description: OIDC end session GET endpoint
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC End Session
      description: OIDC end session POST endpoint
      operationId: OIDCEndSessionEndpointPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCEndSessionEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC End Session | Federated Apps
        description: OIDC end session POST endpoint
        keywords: api, federated apps
  /oauth2/v1/revoke:
    post:
      tags: []
      summary: OIDC Revoke
      description: OIDC revoke endpoint
      operationId: OIDCRevocationEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCRevocationEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Revoke | Federated Apps
        description: OIDC revoke endpoint
        keywords: api, federated apps
  /oauth2/v1/token:
    post:
      tags: []
      summary: OIDC Token
      description: OIDC token endpoint
      operationId: OIDCTokenEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCTokenEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCTokenEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Token | Federated Apps
        description: OIDC token endpoint
        keywords: api, federated apps
  /oauth2/v1/userinfo:
    get:
      tags: []
      summary: OIDC UserInfo
      description: OIDC Get UserInfo endpoint
      operationId: OIDCUserInfoEndpointGet
      parameters:
        - name: ssoAppId
          in: query
          description: Can be empty as data arrived on the Authorization header token
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCUserInfoEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC UserInfo | Federated Apps
        description: OIDC Get UserInfo endpoint
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC UserInfo
      description: OIDC POST UserInfo endpoint
      operationId: OIDCUserInfoEndpointPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCUserInfoEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCUserInfoEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC UserInfo | Federated Apps
        description: OIDC POST UserInfo endpoint
        keywords: api, federated apps
  /v1/auth/saml/idp/initiate:
    get:
      tags: []
      summary: SAML IDP Initiate Redirect
      description: SAML IDP Initiate HTTP redirect binding login flow
      operationId: SAMLIDPInitiateHTTPRedirectBinding
      parameters:
        - name: app
          in: query
          schema:
            type: string
        - name: RelayState
          in: query
          schema:
            type: string
        - name: LoginHint
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: login_hint
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: SAML IDP Initiate Redirect | Federated Apps
        description: SAML IDP Initiate HTTP redirect binding login flow
        keywords: api, federated apps
    post:
      tags: []
      summary: SAML IDP Initiate POST
      description: SAML IDP Initiate HTTP POST binding login flow
      operationId: SAMLIDPInitiateHTTPPostBinding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAMLIDPInitiateRequestPOST'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: SAML IDP Initiate POST | Federated Apps
        description: SAML IDP Initiate HTTP POST binding login flow
        keywords: api, federated apps
  /v1/auth/saml/idp/sso:
    get:
      tags: []
      summary: SAML IDP Redirect Binding
      description: SAML IDP http redirect binding login flow
      operationId: SAMLIDPHTTPRedirectBinding
      parameters:
        - name: app
          in: query
          schema:
            type: string
        - name: SAMLRequest
          in: query
          schema:
            type: string
        - name: SamlRequest
          in: query
          schema:
            type: string
        - name: RelayState
          in: query
          schema:
            type: string
        - name: LoginHint
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: login_hint
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: SAML IDP Redirect Binding | Federated Apps
        description: SAML IDP http redirect binding login flow
        keywords: api, federated apps
    post:
      tags: []
      summary: SAML IDP POST Binding
      description: SAML IDP HTTP POST binding login flow
      operationId: SAMLIDPHTTPPostBinding
      parameters:
        - name: app
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAMLIDPSSORequestPOSTData'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: SAML IDP POST Binding | Federated Apps
        description: SAML IDP HTTP POST binding login flow
        keywords: api, federated apps
  /v1/auth/saml/idp/sso-finish:
    post:
      tags: []
      summary: SAML IDP Finish
      description: SAML IDP finish endpoint
      operationId: SAMLIDPFinishEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAMLIDPFinishEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAMLIDPFinishEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: SAML IDP Finish | Federated Apps
        description: SAML IDP finish endpoint
        keywords: api, federated apps
  /v1/auth/wsfed/idp/initiate:
    get:
      tags: []
      summary: WS-Fed IDP Initiate
      description: WS-Fed IDP-initiated sign-in (GET)
      operationId: WSFedIDPInitiateGet
      parameters:
        - name: app
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: login_hint
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: WS-Fed IDP Initiate | Federated Apps
        description: WS-Fed IDP-initiated sign-in (GET)
        keywords: api, federated apps
    post:
      tags: []
      summary: WS-Fed IDP Initiate
      description: WS-Fed IDP-initiated sign-in (POST)
      operationId: WSFedIDPInitiatePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WSFedIDPInitiateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: WS-Fed IDP Initiate | Federated Apps
        description: WS-Fed IDP-initiated sign-in (POST)
        keywords: api, federated apps
  /v1/auth/wsfed/idp/sso:
    get:
      tags: []
      summary: WS-Fed IDP Passive
      description: WS-Fed IDP passive sign-in endpoint (GET)
      operationId: WSFedIDPPassiveGet
      parameters:
        - name: app
          in: query
          schema:
            type: string
        - name: wa
          in: query
          schema:
            type: string
        - name: wtrealm
          in: query
          schema:
            type: string
        - name: wreply
          in: query
          schema:
            type: string
        - name: wctx
          in: query
          schema:
            type: string
        - name: whr
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: login_hint
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: WS-Fed IDP Passive | Federated Apps
        description: WS-Fed IDP passive sign-in endpoint (GET)
        keywords: api, federated apps
    post:
      tags: []
      summary: WS-Fed IDP Passive
      description: WS-Fed IDP passive sign-in endpoint (POST)
      operationId: WSFedIDPPassivePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WSFedIDPPassiveRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: WS-Fed IDP Passive | Federated Apps
        description: WS-Fed IDP passive sign-in endpoint (POST)
        keywords: api, federated apps
  /v1/auth/wsfed/idp/sso-finish:
    post:
      tags: []
      summary: WS-Fed IDP Finish
      description: WS-Fed IDP finish endpoint after authentication
      operationId: WSFedIDPFinishEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WSFedIDPFinishEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WSFedIDPFinishEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: WS-Fed IDP Finish | Federated Apps
        description: WS-Fed IDP finish endpoint after authentication
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/authorize:
    get:
      tags: []
      summary: OIDC Authorize
      description: OIDC GET authorization endpoint start (sso app)
      operationId: OIDCSSOAppAuthZEndpointGetStart
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
        - name: response_type
          in: query
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: redirect_uri
          in: query
          schema:
            type: string
        - name: code_challenge_method
          in: query
          description: PKCE
          schema:
            type: string
        - name: code_challenge
          in: query
          schema:
            type: string
        - name: dynamic_val
          in: query
          schema:
            type: string
        - name: nonce
          in: query
          schema:
            type: string
        - name: loginHint
          in: query
          schema:
            type: string
        - name: prompt
          in: query
          schema:
            type: string
        - name: flow
          in: query
          schema:
            type: string
        - name: flow_token
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
        - name: style
          in: query
          schema:
            type: string
        - name: dpop_jkt
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Authorize | Federated Apps
        description: OIDC GET authorization endpoint start (sso app)
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC Authorize
      description: OIDC POST authorization endpoint start (sso app)
      operationId: OIDCSSOAppAuthZEndpointPostStart
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCAuthZEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Authorize | Federated Apps
        description: OIDC POST authorization endpoint start (sso app)
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/authorize/entramfa:
    post:
      tags: []
      summary: OIDC Authorize Entra MFA
      description: OIDC Entra MFA authorization endpoint (SSO App)
      operationId: OIDCSSOAppAuthZEndpointEntraMFA
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCAuthZEntraMFAEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Authorize Entra MFA | Federated Apps
        description: OIDC Entra MFA authorization endpoint (SSO App)
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/device:
    post:
      tags: []
      summary: OIDC Device
      description: OIDC device endpoint (sso app)
      operationId: OIDCDeviceEndpoint
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCDeviceEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCDeviceEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Device | Federated Apps
        description: OIDC device endpoint (sso app)
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/logout:
    get:
      tags: []
      summary: OIDC End Session
      description: OIDC end session GET endpoint (sso app)
      operationId: OIDCSSOAppEndSessionEndpointGet
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
        - name: id_token_hint
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: post_logout_redirect_uri
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC End Session | Federated Apps
        description: OIDC end session GET endpoint (sso app)
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC End Session
      description: OIDC end session POST endpoint (sso app)
      operationId: OIDSSOAppCEndSessionEndpointPost
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCEndSessionEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC End Session | Federated Apps
        description: OIDC end session POST endpoint (sso app)
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/revoke:
    post:
      tags: []
      summary: OIDC Revoke
      description: OIDC revoke endpoint (sso app)
      operationId: OIDCSSOAppRevocationEndpoint
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCRevocationEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Revoke | Federated Apps
        description: OIDC revoke endpoint (sso app)
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/token:
    post:
      tags: []
      summary: OIDC Token
      description: OIDC token endpoint (sso app)
      operationId: OIDCSSOAppTokenEndpoint
      parameters:
        - name: ssoAppId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCTokenEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCTokenEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC Token | Federated Apps
        description: OIDC token endpoint (sso app)
        keywords: api, federated apps
  /{ssoAppId}/oauth2/v1/userinfo:
    get:
      tags: []
      summary: OIDC UserInfo
      description: OIDC Get UserInfo endpoint (sso app)
      operationId: OIDCSSOAppUserInfoEndpointGet
      parameters:
        - name: ssoAppId
          in: path
          description: Can be empty as data arrived on the Authorization header token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCUserInfoEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC UserInfo | Federated Apps
        description: OIDC Get UserInfo endpoint (sso app)
        keywords: api, federated apps
    post:
      tags: []
      summary: OIDC UserInfo
      description: OIDC POST UserInfo endpoint (sso app)
      operationId: OIDCSSOAppUserInfoEndpointPost
      parameters:
        - name: ssoAppId
          in: path
          description: Can be empty as data arrived on the Authorization header token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCUserInfoEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCUserInfoEndpointResponse'
      x-publishYaml: federatedApps
      security: []
      x-meta:
        title: OIDC UserInfo | Federated Apps
        description: OIDC POST UserInfo endpoint (sso app)
        keywords: api, federated apps
  /v1/auth/accesskey/exchange:
    post:
      tags: []
      summary: Exchange Key
      description: >-
        ### Exchange API key for access token


        This API Endpoint will take an API key for the project and provide an
        access token to be used for accessing the application.

        The session token JWT token will be valid for the configured [Session
        Token Timeout](/project-settings#session-token-timeout), and its
        expiration time will be provided in the `expiration` field of the
        response object.
      operationId: ExchangeAccessKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeAccessKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeAccessKeyResponse'
      security:
        - Descope Project ID:Access Key: []
      x-order: 3
      x-publishYaml: AccessKeys
      x-meta:
        title: Exchange Key | Access Keys
        description: Exchange API key for access token
        keywords: api, access keys
  /v1/auth/enchantedlink/signup/email:
    post:
      tags:
        - ''
      summary: Sign-Up
      description: >-
        ### Sign-up new end user by sending an enchanted link via email

        Initiate a sign-up process by sending an enchanted link to a new end
        user.

        Descope will generate and deliver 3 clickable links to the email address
        specified,

        each is numbered with random 2 digit number. When you initiate the
        enchanted link, the `linkId` will be returned. This `linkId` needs to be
        displayed to the user to indicate which link for the user to click

        once they receive the email. Only when the correct link is clicked will
        the user be successfully verified and logged in.

        Each clickable link is made up of two parts -

        the URI you provide in the `URI` field and the enchanted link token
        generated by Descope.

        For example, if `URI=https://app.mycompany.com/enchantedlink/verify`,

        the clickable enchanted link will be
        `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`

        Enchanted links expire in the time frame configured in the

        [Descope
        console](https://app.descope.com/settings/authentication/enchantedlink),

        so sending multiple enchanted links (for example, when an end user tries
        to sign-up a second or third time)

        does not invalidate links that have already been sent.


        The return body will include `linkId` and `pendigRef`.

        The `linkId` (a 2 digit number) should be presented to the user,

        so they will know which link to click in the delivered email.

        The endpoint will return a failure code if the email address is already
        registered.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        ### Next Steps

        1. Verify the enchanted link token using the [Verify
        Token](/api/enchanted-link/verify-token) endpoint.

        2. Poll for the successful completion of the token verification using
        the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing
        the `pendingRef` returned by the this endpoint.


        ### See Also

        - See [Enchanted link Authentication](/api/enchantedlink/) for details
        about implementing enchanted links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.

        - Use the [Sign-In](/api/enchanted-link/sign-in) endpoint to sign-in an
        existing end user.

        - Use the [Sign-In with Auto
        Sign-up](/api/enchanted-link/sign-in-auto-sign-up) endpoint to create a
        single sign-up and sign-in flow, which will create a new end user if
        they are not already registered.
      operationId: SignUpEnchantedLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnchantedLinkSignUpEmailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnchantedLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: EnchantedLink
      x-order: 1
      x-meta:
        title: Sign-Up | Enchanted Link
        description: Sign-up new end user by sending an enchanted link via email
        keywords: api, enchanted link
  /v1/auth/enchantedlink/signin/email:
    post:
      tags:
        - ''
      summary: Sign-In
      description: >-
        ### Sign-in existing user by sending an enchanted link via email

        Initiate a sign-in process by sending an enchanted link to a new end
        user.

        Descope will generate and deliver 3 clickable links to the email address
        specified,

        each is numbered with random 2 digit number. When you initiate the
        enchanted link, the `linkId` will be returned. This `linkId` needs to be
        displayed to the user to indicate which link for the user to click

        once they receive the email. Only when the correct link is clicked will
        the user be successfully verified and logged in.

        Each clickable link is made up of two parts -

        the URI you provide in the `URI` field and the enchanted link token
        generated by Descope.

        For example, if `URI=https://app.mycompany.com/enchantedlink/verify`,

        the clickable enchanted link will be
        `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`

        Enchanted links expire in the time frame configured in the

        [Descope
        console](https://app.descope.com/settings/authentication/enchantedlink),

        so sending multiple enchanted links (for example, when an end user tries
        to sign-up a second or third time)

        does not invalidate links that have already been sent.


        The return body will include `linkId` and `pendigRef`.

        The `linkId` (a 2 digit number) should be presented to the user,

        so they will know which link to click in the delivered email.

        The endpoint will return a failure code if the email address is already
        registered.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        ### Next Steps

        1. Verify the enchanted link token using the [Verify
        Token](/api/enchanted-link/verify-token) endpoint.

        2. Poll for the successful completion of the token verification using
        the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing
        the `pendingRef` returned by the this endpoint.


        ### See Also

        - See [Enchanted link Authentication](/api/enchantedlink/) for details
        about implementing enchanted links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.

        - See [User Login Options](/api/overview#user-login-options) for further
        details on loginOptions.

        - Use the [Sign-Up](/api/enchanted-link/sign-up) endpoint to sign-up a
        new end user.

        - Use the [Sign-In with Auto
        Sign-up](/api/enchanted-link/sign-in-auto-sign-up) endpoint to create a
        single sign-up and sign-in flow, which will create a new end user if
        they are not already registered.
      operationId: SignInEnchantedLinkEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnchantedLinkSignInRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnchantedLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: EnchantedLink
      x-order: 2
      x-meta:
        title: Sign-In | Enchanted Link Email
        description: Sign-in existing user by sending an enchanted link via email Email
        keywords: api, enchanted link, email
  /v1/auth/enchantedlink/signup-in/email:
    post:
      tags:
        - ''
      summary: Sign-In with Auto Sign-Up
      description: >-
        ### Sign-in end user (with automatic sign-up) by sending an enchanted
        link via email

        Initiate a process that implements both sign-in and sign-up using a
        single endpoint.

        If the email address is already registered (the end user has already
        registered) the user will be signed in.

        If the email address is not registered (the end user is not yet
        registered) the user will be signed up.


        Descope will generate and deliver 3 clickable links to the email address
        specified,

        each is numbered with random 2 digit number. When you initiate the
        enchanted link, the `linkId` will be returned. This `linkId` needs to be
        displayed to the user to indicate which link for the user to click

        once they receive the email. Only when the correct link is clicked will
        the user be successfully verified and logged in.

        Each clickable link is made up of two parts -

        the URI you provide in the `URI` field and the enchanted link token
        generated by Descope.

        For example, if `URI=https://app.mycompany.com/enchantedlink/verify`,

        the clickable enchanted link will be
        `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`

        Enchanted links expire in the time frame configured in the

        [Descope
        console](https://app.descope.com/settings/authentication/enchantedlink),

        so sending multiple enchanted links (for example, when an end user tries
        to sign-up a second or third time)

        does not invalidate links that have already been sent.


        The return body will include `linkId` and `pendigRef`.

        The `linkId` (a 2 digit number) should be presented to the user,

        so they will know which link to click in the delivered email.

        The endpoint will return a failure code if the email address is already
        registered.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        ### Next Steps

        1. Verify the enchanted link token using the [Verify
        Token](/api/enchanted-link/verify-token) endpoint.

        2. Poll for the successful completion of the token verification using
        the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing
        the `pendingRef` returned by the this endpoint.


        ### See Also

        - See [Enchanted link Authentication](/api/enchantedlink/) for details
        about implementing enchanted links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.

        - See [User Login Options](/api/overview#user-login-options) for further
        details on loginOptions.

        - Use the [Sign-Up](/api/enchanted-link/sign-up) endpoint to sign-up a
        new end user.

        - Use the [Sign-In with Auto
        Sign-up](/api/enchanted-link/sign-in-auto-sign-up) endpoint to create a
        single sign-up and sign-in flow, which will create a new end user if
        they are not already registered.
      operationId: SignUpOrInEnchantedLinkEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnchantedLinkSignInRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnchantedLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: EnchantedLink
      x-order: 3
      x-meta:
        title: Sign-In with Auto Sign-Up | Enchanted Link Email
        description: >-
          Sign-in end user (with automatic sign-up) by sending an enchanted link
          via email Email
        keywords: api, enchanted link, email
  /v1/auth/enchantedlink/verify:
    post:
      tags:
        - ''
      summary: Verify Token
      description: >-
        ### Verify Enchanted Link token from user


        Verify that the enchanted link token in the URL clicked by the end user
        matches and has

        not expired. This endpoint completes the enchanted link flow for:

        * sign up
            * [Sign-Up via email](/api/enchanted-link/sign-up)
        * sign-in
            * [Sign-In via email](/api/enchanted-link/sign-in)
        * sign-in with auto sign-up
            * [Sign-In with Auto Sign-up via email](/api/enchanted-link/sign-in-auto-sign-up)
        * Update data
            * [update email](/api/enchanted-link/update-email)

        ### Next Steps


        Poll for the successful completion of the token verification using the
        [Poll Session](/api/enchanted-link/poll-session) endpoint, providing the
        `pendingRef` returned by the this endpoint.


        The response object will be empty when this endpoint completes
        successfully. The session information will be returned by the the [Poll
        Session](/api/enchanted-link/poll-session) endpoint.


        ### See Also

        - See [Enchanted link Authentication](/api/enchantedlink/) for details
        about implementing enchanted links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.
      operationId: VerifyEnchantedLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEnchantedLinkRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEnchantedLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: EnchantedLink
      x-order: 4
      x-meta:
        title: Verify Token | Enchanted Link
        description: Verify Enchanted Link token from user
        keywords: api, enchanted link
  /v1/auth/enchantedlink/pending-session:
    post:
      tags:
        - ''
      summary: Poll Session
      description: >-
        ### Poll user session for successful completion of token verification

        This endpoint is used to wait for the enchanted link verification by the
        end user.

        Use this endpoint in a poling way, until it returns a successful JWT, or
        timeout error.

        The response object includes the session JWT `sessionJwt` and refresh
        JWT `refreshJwt`

        when this endpoint completes successfully.


        ### See Also

        - See [Enchanted link Authentication](/api/enchantedlink/) for details
        about implementing enchanted links.
      operationId: GetEnchantedLinkSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEnchantedLinkSessionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: EnchantedLink
      x-order: 5
      x-meta:
        title: Poll Session | Enchanted Link
        description: Poll user session for successful completion of token verification
        keywords: api, enchanted link
  /v1/auth/enchantedlink/update/email:
    post:
      tags:
        - ''
      summary: Update Email
      description: >-
        ### Update email of end user by sending enchanted link via email

        Update the email address of an existing end user by sending an enchanted
        link to the new email address.

        Descope will generate and deliver 3 clickable links to the email address
        specified,

        each is numbered with random 2 digit number.

        Only the right link (based on the number returned will be successfully
        verified when clicked)


        Each clickable link is made up of two parts -

        the URI you provide in the `URI` field and the enchanted link token
        generated by Descope.

        For example, if `URI=https://app.mycompany.com/enchantedlink/verify`,

        the clickable enchanted link will be
        `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`

        Enchanted links expire in the time frame configured in the

        [Descope
        console](https://app.descope.com/settings/authentication/enchantedlink),

        so sending multiple enchanted links (for example, when an end user tries
        to sign-up a second or third time)

        does not invalidate links that have already been sent.


        The bearer token requires both the ProjectId and refresh JWT in the
        format `<Project ID>:<JWT>`, and can therefore only be run for end users
        who are currently signed-in.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        Once the token is successfully verified - the email address will be
        updated.


        Descope allows you to associating multiple login IDs for a user during
        API update calls. For details on how this feature works, please review
        the details
        [here](/manage/users#associating-multiple-login-ids-for-a-user).


        ### Next Steps

        1. Verify the enchanted link token using the [Verify
        Token](/api/enchanted-link/verify-token) endpoint.

        2. Poll for the successful completion of the token verification using
        the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing
        the `pendingRef` returned by the this endpoint.


        ### See Also

        - See [Enchanted link Authentication](/api/enchantedlink/) for details
        about implementing enchanted links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.
      operationId: UpdateUserEmailEnchantedLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserEmailEnchantedLinkRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnchantedLinkResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-publishYaml: EnchantedLink
      x-order: 5
      x-meta:
        title: Update Email | Enchanted Link Email
        description: Update email of end user by sending enchanted link via email Email
        keywords: api, enchanted link, email
  /v1/auth/refresh:
    post:
      tags: []
      summary: Refresh Session
      description: >-
        ### Refresh the session token, using a valid fresh token


        This API endpoint will provide a new valid session token for an existing
        signed-in user, by validating the provided refresh token.

        The refresh token is provided as part of the HTTP Authorization Bearer.
      operationId: RefreshSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSessionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 2
      x-publishYaml: session
      x-meta:
        title: Refresh Session | Session
        description: Refresh the session token, using a valid fresh token
        keywords: api, session
  /v1/auth/try-refresh:
    post:
      tags: []
      summary: Try Refresh Session
      description: >-
        Refresh the current session if it is valid, will not fail if the refresh
        token is missing or invalid
      operationId: TryRefreshSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSessionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionalJWTResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 2
      x-publishYaml: session
      x-meta:
        title: Try Refresh Session | Session
        description: >-
          Refresh the current session if it is valid, will not fail if the
          refresh token is missing or invalid
        keywords: api, session
  /v1/auth/me:
    get:
      tags: []
      summary: My Details
      description: >-
        ### Get current signed-in user details


        This API Endpoint will return the current user's details. This endpoint
        requires the user to be signed in and have a valid `refreshJwt`. The
        `refreshJwt` is then used as part of the Authorization Bearer to perform
        this task.
      operationId: Me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseUser'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 3
      x-publishYaml: session
      x-meta:
        title: My Details | Session
        description: Get current signed-in user details
        keywords: api, session
  /v1/auth/me/history:
    get:
      tags: []
      summary: Get Session History
      description: >-
        ### Get user's session history


        This API Endpoint will return the current user's session history
        including geo-location and IP address. This endpoint requires the user
        to be signed in and have a valid `refreshJwt`. The `refreshJwt` is then
        used as part of the Authorization Bearer to perform this task.
      operationId: MeAuthHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeAuthHistoryResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 3
      x-publishYaml: session
      x-meta:
        title: Get Session History | Session
        description: Get user's session history
        keywords: api, session
  /v1/auth/tenant/select:
    post:
      tags: []
      summary: Select an active tenant
      description: >-
        ### Set the active tenant for the user's current session


        This endpoint allows you to get a new session token and refresh token
        with the `dct` claim on the JWT which shows the active selected tenant
        for the user.


        See [Tenant Selection
        Article](/knowledgebase/descopeflows/tenantselectcomponent/) for more
        details of the usage.
      operationId: SelectTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelectTenantRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 3
      x-publishYaml: session
      x-meta:
        title: Select an active tenant | Session
        description: Set the active tenant for the user's current session
        keywords: api, session
  /v1/auth/idp/sso/logout:
    get:
      tags: []
      summary: Logout
      description: >-
        IDP SSO Logout from the session and delete the session and refresh
        cookies
      operationId: IDPSSOLogoutGet
      parameters:
        - name: app
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-order: 4
      x-publishYaml: session
      security: []
      x-meta:
        title: Logout | Session
        description: >-
          IDP SSO Logout from the session and delete the session and refresh
          cookies
        keywords: api, session
    post:
      tags: []
      summary: Logout
      description: >-
        IDP SSO Logout from the session and delete the session and refresh
        cookies
      operationId: IDPSSOLogoutPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IDPSSOLogoutRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
      x-order: 4
      x-publishYaml: session
      security: []
      x-meta:
        title: Logout | Session
        description: >-
          IDP SSO Logout from the session and delete the session and refresh
          cookies
        keywords: api, session
  /v1/auth/logout:
    post:
      tags: []
      summary: Sign-Out
      description: >-
        ### Log the user out from the provided session

        This API endpoint will sign the user out of the provided session using
        the `refreshToken`.

        Successfully executing this endpoint will invalidate the provided
        refresh tokens.

        Response will also include all user tokens and fields empty, so the
        executing client will remove cookies as well.
      operationId: Logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 4
      x-publishYaml: session
      x-meta:
        title: Sign-Out | Session
        description: Log the user out from the provided session
        keywords: api, session
  /v1/auth/logoutall:
    post:
      tags: []
      summary: Sign-Out All Active Sessions
      description: >-
        ### Log the user out from all signed-in sessions


        This API endpoint will sign the user out of all the devices they are
        currently signed-in with.

        Successfully executing this endpoint will invalidate all user's refresh
        tokens. Response will include all user tokens and fields empty, so
        client will remove cookies as well.
      operationId: LogoutAllDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
        - Descope Project ID:Refresh JWT: []
      x-order: 4
      x-publishYaml: session
      x-meta:
        title: Sign-Out All Active Sessions | Session
        description: Log the user out from all signed-in sessions
        keywords: api, session
  /v1/auth/validate:
    post:
      tags: []
      operationId: ValidateSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateSessionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateSessionResponse'
      security:
        - Descope Project ID:Session JWT: []
      x-publishYaml: session
      summary: Validate Session
      description: >-
        ### Validate and parse a user's session JWT.


        This endpoint is used to validate a users session using the Project ID
        and the user's session JWT. Upon successful validate of the user, you
        will receive the parsed JWT.


        When posting to this endpoint from an application, you get the JWT from
        local or cookie storage, and prepend it with project ID and use that as
        the bearer.
      x-meta:
        title: Validate Session | Session
        description: Validate and parse a user's session JWT.
        keywords: api, session
  /v1/auth/magiclink/signup/email:
    post:
      tags:
        - Email
      summary: Sign-Up
      description: >-
        ### Sign-up new end user by sending a magic link via email

        Initiate a sign-up process by sending a magic link to a new end user.
        Descope will generate and deliver a clickable magic link to the email
        address specified. The clickable magic link is made up of two parts - 
        the URI you provide in the `URI` field and the magic link token
        generated by Descope. For example, if
        `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic
        link will be
        `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic
        links expire in the time frame configured in the [Descope
        console](https://app.descope.com/settings/authentication/magiclink), so
        sending multiple magic links (for example, when an end user tries to
        sign-up a second or third time) does not invalidate magic links that
        have already been sent.


        The endpoint will return a failure code if the email address is already
        registered.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        ### Next Steps

        Verify the magic link token using the [Verify
        Token](/api/magic-link/verification/verify-token) endpoint.


        ### See Also

        - See [Magic link
        Authentication](/auth-methods/magic-link/with-sdks/client#introduction)
        for details about implementing magic links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.

        - Use the [Sign-In](/api/magic-link/email/sign-in) endpoint to sign-in
        an existing end user.

        - Use the [Sign-In with Auto
        Sign-up](/api/magic-link/email/sign-in-auto-sign-up) endpoint to create
        a single sign-up and sign-in flow, which will create a new end user if
        they are not already registered.
      operationId: SignUpMagicLinkEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkSignUpEmailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMagicLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: MagicLink
      x-order: 1
      x-meta:
        title: Sign-Up | Magic Link Email
        description: Sign-up new end user by sending a magic link via email Email
        keywords: api, magic link, email
  /v1/auth/magiclink/signup/sms:
    post:
      tags:
        - Text Message (SMS)
      summary: Sign-Up
      description: >-
        ### Sign-up new end user by sending a magic link via SMS


        Initiate a sign-up process by sending a magic link to a new end user.
        Descope will generate and deliver a clickable magic link to the phone
        number specified. The clickable magic link is made up of two parts - 
        the URI you provide in the `URI` field and the magic link token
        generated by Descope. For example, if
        `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic
        link will be
        `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic
        links expire in the time frame configured in the [Descope
        console](https://app.descope.com/settings/authentication/magiclink), so
        sending multiple magic links (for example, when an end user tries to
        sign-up a second or third time) does not invalidate magic links that
        have already been sent.


        The endpoint will return a failure code if the email address is already
        registered.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        ### Next Steps

        Verify the magic link token using the [Verify
        Token](/api/magic-link/verification/verify-token) endpoint.


        ### See Also

        - See [Magic link Authentication](/auth-methods/magic-link) for details
        about implementing magic links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.

        - Use the [Sign-In](/api/magic-link/sms/sign-up) endpoint to sign-in an
        existing end user.

        - Use the [Sign-In with Auto
        Sign-up](/api/magic-link/sms/sign-in-auto-sign-up) endpoint to create a
        single sign-up and sign-in flow, which will create a new end user if
        they are not already registered.
      operationId: SignUpMagicLinkSMS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkSignUpPhoneRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneMagicLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: MagicLink
      x-order: 1
      x-meta:
        title: Sign-Up | Magic Link SMS
        description: Sign-up new end user by sending a magic link via SMS SMS
        keywords: api, magic link, sms
  /v1/auth/magiclink/verify:
    post:
      tags:
        - Verification
      summary: Verify Token
      description: >-
        ### Verify the magic link token from the end user


        Verify that the magic link token in the URL clicked by the end user
        matches and has not expired. This endpoint completes the magic link flow
        for:

        * sign up
            * [Sign-Up via email](/api/magic-link/email/sign-up)
            * [Sign-Up via SMS](/api/magic-link/sms/sign-up)
        * sign-in
            * [Sign-In via email](/api/magic-link/email/sign-in)
            * [Sign-In via SMS](/api/magic-link/sms/sign-in)
        * sign-in with auto sign-up
            * [Sign-In with Auto Sign-up via email](/api/magic-link/email/sign-in-auto-sign-up)
            * [Sign-In with Auto Sign-up via SMS](/api/magic-link/sms/sign-in-auto-sign-up)
        * update data
            * [update email](/api/magic-link/email/sign-up)
            * [update phone number](/api/magic-link/email/sign-up)

        ### Next Steps


        The response object will contain the user's details including the
        session and refresh JWTs.


        ### See Also

        - See [Magic link
        Authentication](/auth-methods/magic-link/with-sdks/client#introduction)
        for details about implementing magic links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.
      operationId: VerifyMagicLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyMagicLinkRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: MagicLink
      x-order: 1
      x-meta:
        title: Verify Token | Magic Link
        description: Verify the magic link token from the end user
        keywords: api, magic link
  /v1/auth/magiclink/signin/email:
    post:
      tags:
        - Email
      summary: Sign-In
      description: >-
        ### Sign-in existing end user by sending a magic link via email

        Initiate a sign-in process by sending a magic link to an existing end
        user. Descope will generate and deliver a clickable magic link to the
        email address specified. The clickable magic link is made up of two
        parts - the URI you provide in the `URI` field and the magic link token
        generated by Descope. For example, if
        `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic
        link will be
        `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic
        links expire in the time frame configured in the [Descope
        console](https://app.descope.com/settings/authentication/magiclink), so
        sending multiple magic links (for example, when an end user tries to
        sign-up a second or third time) does not invalidate prior magic links
        that have already been sent.


        The endpoint will return a failure code if the email address is not
        registered.


        Note that `URI` is an optional parameter. If omitted - the project
        setting will apply.

        If provided - it should to be part of the allowed `Approved Domains`
        configured in the project settings.


        ### Next Steps

        Verify the magic link token using the [Verify
        Token](/api/magic-link/verification/verify-token) endpoint.


        ### See Also

        - See [Magic link
        Authentication](/auth-methods/magic-link/with-sdks/client#introduction)
        for details about implementing magic links.

        - See [The User Object](/api/overview#the-user-object) for further
        details on how to identify users and their contact information such as
        email addresses and phone number.

        - See [User Login Options](/api/overview#user-login-options) for further
        details on loginOptions.

        - Use the [Sign-Up](/api/magic-link/email/sign-up) endpoint to sign-up a
        new end user.

        - Use the [Sign-In with Auto
        Sign-up](/api/magic-link/email/sign-in-auto-sign-up) endpoint to create
        a single sign-up and sign-in flow, which will create a new end user if
        they are not already registered.
      operationId: SignInMagicLinkEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkSignInRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMagicLinkResponse'
      security:
        - Descope Project ID: []
      x-publishYaml: MagicLink
      x-order: 2
      x-meta:
        title: Sign-In | Magic Link Email
        description: Sign-in existing end user by sending a magic link via email Email
        keywords: api, magic link, email
  /v1/auth/magiclink/signin/sms:
    post:
      tags:
        - Text Message (SMS)
      summary: Sign-In
      description: >-
        ### Sign-in existing end user by sending a magic link via SMS


        Initiate a sign-in process by sending a magic link to an existing end
        user. Descope will generate and deliver a clickable magic link as an SMS
        to the phone number specified. The clickable magic link is made up of
        two parts - the URI you provide in the `URI` field and the magic link
        token generated by Descope. For example, if
        `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic
        link will be
        `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic
        links expire in the time frame configured in the [Descope
        console](https://app.descope.com/settings/authentication/magiclink), so
        sending multiple magic links (for example, when an end user tries to
        sign-up a second or third time) does not invalidate prior magic links
[...]
